* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  font-size: 35px;
  text-align: center;
  margin: 25px 0;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
}

button {
  font-size: 25px;
  padding: 15px 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(115, 30, 185);
  transition: background-color 0.5s;
}

button:hover {
  background-color: rgba(115, 30, 185, 0.795);
  cursor: pointer;
}

#image-container {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  width: 100%;
}

img {
  margin: 25px 0;
  height: 700px;
  border: 5px solid rgb(115, 30, 185);
  /* box-shadow: 5px 5px 17px 7px #00000071; */
  box-shadow: 3px 3px 12px #333;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 35px;
  font-size: 25px;
  font-weight: 500;
}